<!DOCTYPE html>

<html>
<head>
  <link href="styles/reset.css" rel="stylesheet"/>
  <link href="styles/base.css" rel="stylesheet"/>
  <link href="styles/layout.css" rel="stylesheet"/>
  <link href="styles/module.css" rel="stylesheet"/>

  <title>Book App</title>
</head>

<body>
  <header>
    <p> <%= greeting %> </p>
  </header>

  <main>
  </main>

  <footer>
  </footer>
  
</body>
</html>